<!-- State view -->
<ion-nav-view name="changePassword">
  <ion-content class="has-header">
    <div class="list">
      <md-card class="padding-16x" md-theme="app-theme">
        <form name="updatePassword">
            <md-input-container class="md-icon-float md-block">
              <md-icon>lock</md-icon>
              <input ng-model="user.old_password" type="password" placeholder="Current Password (required)" ng-minlength="5" ng-maxlength="20" name="old_password" ng-required="true">
              <label ng-show="updatePassword.old_password.$error.minlength">Atleast 6 characters long.</label>
              <label ng-show="updatePassword.old_password.$error.maxlength">Can't be longer than 20 characters.</label>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
              <md-icon>lock</md-icon>
              <input ng-model="user.new_password" type="password" placeholder="New Password (required)" ng-minlength="6" ng-maxlength="20" name="new_password" ng-required="true">
              <label ng-show="updatePassword.new_password.$error.minlength">Atleast 6 characters long.</label>
              <label ng-show="updatePassword.new_password.$error.maxlength">Can't be longer than 20 characters.</label>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
              <md-icon>lock</md-icon>
              <input ng-model="user.retype_password" type="password" placeholder="Retype Password (required)" data-match="user.new_password" name="retype_password" ng-required="true">
              <label ng-show="updatePassword.retype_password.$error.match">Passwords do not match!</label>
            </md-input-container>
            <div layout="row" layout-align="center center" layout-wrap>
              <md-button class="md-raised md-primary" ng-click="update(user,$event)" ng-disabled="updatePassword.$invalid && updatePassword.$error">Update</md-button>
              <md-button class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>
            </div>
        </form>
      </md-card>
    </div>
  </ion-content>
</ion-nav-view>

<style type="text/css">
 
  .md-datepicker-calendar-pane {
    left: 20px!important;
  }
  .md-datepicker-button .md-icon-button .md-button .md-ink-ripple{
    left: -10px;
  }

  .md-datepicker-input-container {
    /*margin-left: -17px;*/
    /*width: 100%;*/
  }
</style>