  <!-- State view -->
  <ion-nav-view name="viewStaff">
    <ion-content class="has-header roomBG">
      <div class="list">
        <md-content md-theme="app-theme">
          <md-card ng-repeat="usr in users">
            <md-list>
              <md-list-item class="md-2-line">  
                <md-button class="md-fab md-disabled" ng-disabled="true" aria-label="Use Android">
                  {{$index+1}}
                </md-button>
                <div class="md-list-item-text">
                  <h3><b>{{usr.first_name}}  {{usr.last_name}}</b></h3>
                  <h5><md-icon>local_hospital</md-icon>{{usr.specification}}</h5>
                  <h6><md-icon>email</md-icon>{{usr.email}}</h6>
                </div>
                <md-button class="md-fab md-disabled right" ng-disabled="true" aria-label="Use Android">
                  <img class="md-fab md-disabled right" ng-src="{{usr.profile? usr.profile:'/assets/images/noimage.jpg'}}" aria-label="Use Android" style="width: 45px;height: 50px;">
                </md-button>
              </md-list-item>
              <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-raised md-warn" ng-click="editPatient(usr._id)">Edit</md-button>
                <md-button class="md-raised md-primary" ng-click="viewPerPatient(usr._id)">View</md-button>
              </div>
            </md-list>
          </md-card>
        </md-content>
      </div>
    </ion-content>
  </ion-nav-view>
