<!-- State view -->
<ion-nav-view name="dashboardPatientAppointment">
  <ion-content class="has-header">
    <md-content class="md-padding">
      <div class="list">
        <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button md-theme="app-theme" class="md-raised md-primary" flex-gt-md="10" flex="70" ng-click="appointment()">Appointment</md-button>
          <md-button md-theme="app-theme" class="md-raised md-primary" flex-gt-md="10" flex="70" ng-click="historyInfo()">History</md-button>
        </div>
      </div>
    </md-content>
  </ion-content>
</ion-nav-view>